@banner-margin: 7px;

.widget_banner {
    //position: relative;
    display: block;
    font-size: @font-size-small;
    text-align: left;
    vertical-align: top;
    margin: 0 -@banner-margin;
    
    > a {
        display: inline-block;
        color: @text-color;
        vertical-align: top;
        margin: @banner-margin;

        &:hover {
            color: @link-color;
        }

        .banner-item {
            .well;
            position: relative;
            width: 270px;
            height: 40px;
            padding: 3px 10px;
            margin: 0;
            //border: solid 1px @gray-lighter;

            .banner-title {
                line-height: 1.2;
                text-align: left;
                vertical-align: text-top;
                width: 200px;
            }

            img {
                position: absolute;
                bottom: 1px;
                right: 1px;
                width: 36px;
                height: 36px;
                .img-rounded;
            }

        }

    }
    
}
