/* Recent Post widgets */

.widget_recent_entries {

    > ul > li {

        clear: both;
        display: block;

        .post-image {

            display: block;
            position: relative;
            float: left;
            .size(100px; 100px);
            margin-top: 5px;
            margin-bottom: 25px;

            img {
                .img-responsive;
                .transition(box-shadow 0.4s);
            }

            img:hover {
                .box-shadow(2px 2px 2px rgba(0,0,0,.3));
            }

            .post-date {
                position: absolute;
                left: 0;
                bottom: 5px;
                padding: 1px 5px;
                background-color: rgba(0,0,0,.2);
                color: #fff;
                font-size: @font-size-small;
                font-weight: bold;
            }
        }

        .post-content {
            display: block;
            margin-left: 120px;
            margin-bottom: 25px;

            .post-title {
                display: block;
                font-family: @headings-font-family;
                font-size: @font-size-h4;
                line-height: @headings-line-height;
                font-weight: @headings-font-weight;
                margin-bottom: 10px;
            }

            .post-excerpt {

            }

        }

    }

}

.widget-link {
    clear: both;
    display: block;
    font-weight: bold;
}

.sidebar {

    .widget_recent_entries {

        > ul > li {

            .post-image {

                .size(50px; 50px);
                margin-top: 4px;
                margin-bottom: 15px;

                .post-date {
                    display: none;
                }
            }

            .post-content {
                margin-left: 65px;
                margin-bottom: 15px;

                .post-title {
                    font-family: @font-family-base;
                    font-size: @font-size-base;
                    color: @text-color;
                    margin-bottom: 0;
                }

                .post-title:hover {
                    color: @link-color;
                }


                .post-excerpt {
                    display: none;
                }

            }

        }

    }

}
