//
// Home page style
//

.home-section {
    margin-top: 30px;
    margin-bottom: 5px;
    
    .widget {
        margin-bottom: 40px;
    }
    
    .widget {
        h3 {
            font-size: @font-size-h1;
        }
    }
}